* {
    font-family: ubuntu, sans-serif;
    font-size: 20px;
    color: #FBA728;
}
body {
    background-image: url('./resources/pexels-photo-417192.jpeg');
    background-size: auto 1000px;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.col p {
    padding: 4px 0;
    margin: 0;
}
#alerts {
    width: 15%;
    margin: 150px 43% 0 auto;
}

#alerts p {margin-bottom: 5px}

#temp, #summary_temp, #forecast_temp {
    clear: both;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.heading h2{
    width:50%;
    margin: 50px auto 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
/*  SECTIONS  */
.section {
    width: 70%;
    height: max-content;
    clear: both;
    padding: 0;
    margin: 0 auto;

    background-color: #243D4D77;
}
.section:first-child {
    margin-top: 50px;

}
#current_cloud, #summary_cloud {
    font-size: 1.2em;
    font-weight: bolder;
}
#weather_alert {text-align: center}

#flight {
    float: right;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}
#uv {
    float: right;
    text-align: center;
    font-size: 0.7em;
    padding-right: 10px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% auto 1% auto;
    /*border: solid 1px black;*/
}



footer {
    margin-bottom: 100px;
}
.line{
    height: 7em;
    margin-top: 20px;
    padding: 25px 5px;
    border-right: solid 2px dimgrey;
    float: left;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
    width: 53%;
    /*padding-top: 1em;*/
    margin-left: 15px;
}
.span_1_of_2 {
    margin-top: 0.75em;
    width: 45%;
    text-align: right;
}


@media only screen and (min-width: 801px) and (max-width: 1100px) {
    * {
        font-size: small;
    }
    .section {
        width:70%;
    }
    .span_1_of_2 {width:30%}
    .span_2_of_2 {width:40%}
}

@media only screen and (min-width: 500px) and (max-width: 850px) {
    #temp, #summary_temp, #forecast_temp {
        font-size: 3em;
    }
    .span_1_of_2 {width: 40%}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 800px) {
    .col {
        margin: 1% auto 1% auto;
        float: unset;
    }
}

@media only screen and (max-width: 800px) {
    .span_2_of_2, .span_1_of_2 {
        width: 80%;
        text-align: center;
        /*border: solid 1px black;*/
    }

    #uv {float:left}
    #flight {float:right}
    #temp {clear: both}
    .section {
        width: 98%;
        /*margin: 0 auto;*/
    }
}
.line {
    display: none;
}