* {
    font-family: Futura, SansSerif, sans-serif;
    background-color: lightgrey;
}

.col p {
    padding: 4px 0;
    margin: 0;
}
#alerts {
    width: 15%;
    margin: 150px 43% 0 auto;
}

#alerts p {margin-bottom: 5px}

#temp, #summary_temp {
    font-size: 5rem;
    font-style: italic;
    padding: 0;
    margin: 0;
}


.heading {
    width:30%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}
/*  SECTIONS  */
.section {
    width: 50%;
    height: max-content;
    /*border: solid 2px black;*/
    clear: both;
    padding: 0;
    margin: 0 auto;
}

#weather_alert {text-align: center}
#flight, #uv {
    display: inline !important;
}

#uv {
    text-align: left;
    font-size: 0.7em;
    padding-right: 10%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1px;
}

.section:first-child {
    margin-top: 200px;
}


.line{
    height: 7em;
    margin-top: 20px;
    padding: 25px 5px;
    border-right: solid 2px dimgrey;
    float: left;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
    width: 53%;
    /*padding-top: 1em;*/
    margin-left: 15px;
}
.span_1_of_2 {
    width: 40%;
    text-align: right;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 550px) {
    .col {
        margin: 1% 0 1% 0;
    }
}

@media only screen and (max-width: 5500px) {
    .span_2_of_2, .span_1_of_2 {
        width: 70%;
        /*border: solid 1px black;*/
    }
    .section {
        width: 98%;
        margin: 0 auto;
    }
}