html {
    font-family: ubuntu, sans-serif;
    font-size: 16px;
    color: #FBA728;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-image: url('./resources/pexels-photo-417192.jpeg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.place {
    margin-top: 50px;
	  background-color: #243D4D77;
    border-radius: 3px;
    box-shadow: .8rem .8rem .9rem #fba72833;
}
#place_name, .place {
    text-align: center;
    width: 50%;
    padding: 4px 0;
}

.hidden {
    opacity: 1;
}

.col p {
    padding: 4px 0;
    margin: 0;
}
#alerts {
    padding: 3px;
    text-align: center;
    width: 15%;
    margin: 15px auto 10px auto;
    background-color: #243D4D77;
}

#alerts p {margin-bottom: 5px}

#temp, #summary_temp, #forecast_temp {
    clear: both;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.heading h2{
    width:50%;
    margin: 0 auto;
    padding-top: .75rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
/*  SECTIONS  */
.section {
    width: 70%;
    height: max-content;
    clear: both;
    padding: 0;
    margin: 2.5rem auto;
    -webkit-border-radius: 5px;-moz-border-radius: 3px;border-radius: 3px;
    background-color: #243D4D88;
    box-shadow: .8rem .8rem .9rem #fba72833;
}
.section:first-child {
    margin-top: 0;

}
#current_cloud, #summary_cloud, #forecast_cloud{
    font-size: 1.3em;
    font-weight: bolder;
}
#weather_alert {text-align: center}

#flight {
    float: right;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}
#uv {
    float: right;
    text-align: center;
    font-size: 0.7em;
    padding-right: 10px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% auto 1% auto;
    /*border: solid 1px black;*/
}



footer {
    margin-bottom: 100px;
}
.line{
    height: 80%;
    margin: auto 0;
    /*padding: 25px 5px;*/
    border-right: solid 2px dimgrey;
    float: left;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
    width: 53%;
    /*padding-top: 1em;*/
    margin-left: 15px;
}
.span_1_of_2 {
    margin-top: 0.75em;
    width: 45%;
    text-align: right;
}


@media only screen and (min-width: 801px) and (max-width: 1100px) {
    * {
        font-size: small;
    }

	#summary_air_quality, #forecast_air_quality, #current_air_quality {display: none;}
    .section, .place {
        width:70%;
    }
    /*.span_1_of_2 {width:30%}*/
    .span_2_of_2 {width:40%}
}


@media only screen and (min-width: 500px) and (max-width: 850px) {
    #temp, #summary_temp, #forecast_temp {
        font-size: 2.5em;
    }
	#summary_long_name, #forecast_long_name, #current_long_name {
		display: none;
	}
    .span_1_of_2 {width: 40%}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */


@media only screen and (max-width: 500px) {
    html {font-size: 12px}
    .col {
        margin: 1% auto 1% auto;
        float: unset;
    }
    #place_name{ width: 100% }
	.line {
		display: none;
	}
    .span_2_of_2, .span_1_of_2, #alerts, #place_name {
        width: 80%;
        text-align: center;
        /*border: solid 1px black;*/
    }
	#summary_long_name, #forecast_long_name, #current_long_name {
		display: none;
	}
    #uv {float:left}
    #flight {float:right}
    #temp {clear: both}
    #alerts {width: 80%}
    .section, .place {
        width: 93%;
        /*margin: 0 auto;*/
    }

    .hidden { opacity: 1 }
}
